<!-- Responsive panel example-->
<div class="jumbotron">
  <h1 class="text-center">Details for <%= @item.title.capitalize %></h1>
</div>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Item #<%= @item.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>User</dt>
              <dd><%= @item.user_id %></dd>

              <dt>Finished</dt>
              <dd><%= @item.finished %></dd>

              <dt>Title</dt>
              <dd><%= @item.title %></dd>

              <dt>Private</dt>
              <dd><%= @item.private == true %></dd>

              <% Step.where(item_id: @item.id).order("step_number asc").each do |thing| %>
              <dt>step #<%=thing.step_number %><dt>
                <dd><%=thing.detail %></dd>
                <% end %>


              </dl>
              <div class="btn-group btn-group-justified">
                <a href="/items" class="btn btn-primary">
                  <i class="fa fa-chevron-left"></i>
                </a>

                <a href="/items/<%= @item.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>

                <a href="/delete_item/<%= @item.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Responsive panel example -->

    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Add Step</h3>
          </div>
          <div class="panel-body">
            <form action="/create_step_stay" method="post" class="form-horizontal">
              <!-- Hidden input for authenticity token to protect from forgery -->
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <input name="item_id" id="item_id" type="hidden" value="<%= @item.id %>">

              <!-- Label and input for step_number -->
              <div class="form-group">
                <label for="step_number" class="col-sm-2 control-label">
                  Suggested Step Number
                </label>
                <div class="col-sm-10">
                  <input type="text" id="step_number" name="step_number" placeholder="Step number" class="form-control" value="<%= Step.where(item_id: @item.id).count + 1 %>">
                </div>
              </div>

              <!-- Label and input for completed -->
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label for="completed">
                      <input type="checkbox" id="completed" name="completed" value="1" <%= "checked"  %>>
                      Completed
                    </label>
                  </div>
                </div>
              </div>


              <!-- Label and input for detail -->
              <div class="form-group">
                <label for="detail" class="col-sm-2 control-label">
                  Detail
                </label>
                <div class="col-sm-10">
                  <textarea id="detail" name="detail" placeholder="Detail" class="form-control" rows="3"><%= @step.detail %></textarea>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-success">
                    Create Step

                  </button>
                  or
                  <a href="/steps">Cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End responsive panel example -->
